<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".VeilTypeApplication"
        android:allowAudioPlaybackCapture="false"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VeilType"
        tools:targetApi="tiramisu">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ProfileManagerActivity"
            android:exported="false" />

        <activity
            android:name=".ui.AudioPermissionRequestActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.VeilType.TransparentOverlay" />

        <activity
            android:name=".ui.DecryptGateActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:theme="@style/Theme.VeilType.TransparentOverlay" />

        <activity
            android:name=".ui.MediaBiometricGateActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:theme="@style/Theme.VeilType.TransparentOverlay" />

        <activity
            android:name=".ui.MediaCapsuleRouterActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.VeilType.TransparentOverlay">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.veil"
                    android:mimeType="application/octet-stream" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.veil"
                    android:mimeType="application/x-veiltype-capsule" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.veil"
                    android:mimeType="application/x-veiltype-audio-capsule" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.veil"
                    android:mimeType="application/x-veiltype-video-capsule" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.veil"
                    android:mimeType="application/x-veiltype-photo-capsule" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.tla1"
                    android:mimeType="application/octet-stream" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.tlv1"
                    android:mimeType="application/octet-stream" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.tla1"
                    android:mimeType="application/x-veiltype-audio-capsule" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.tlv1"
                    android:mimeType="application/x-veiltype-video-capsule" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.tla1"
                    android:mimeType="application/x-enigma-audio-capsule" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.tlv1"
                    android:mimeType="application/x-enigma-video-capsule" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.tlp1"
                    android:mimeType="application/octet-stream" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.tlp1"
                    android:mimeType="application/x-veiltype-photo-capsule" />
                <data
                    android:scheme="content"
                    android:host="org.telegram.messenger.provider"
                    android:pathPattern="/.*\\.tlp1"
                    android:mimeType="application/x-enigma-photo-capsule" />
            </intent-filter>

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.veil"
                    android:mimeType="application/x-veiltype-capsule" />
                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.veil"
                    android:mimeType="application/octet-stream" />
                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.veil"
                    android:mimeType="application/x-veiltype-audio-capsule" />
                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.veil"
                    android:mimeType="application/x-veiltype-video-capsule" />
                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.veil"
                    android:mimeType="application/x-veiltype-photo-capsule" />
                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.tla1"
                    android:mimeType="application/x-veiltype-audio-capsule" />
                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.tlv1"
                    android:mimeType="application/x-veiltype-video-capsule" />
                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.tlp1"
                    android:mimeType="application/x-veiltype-photo-capsule" />
            </intent-filter>

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/x-veiltype-audio-capsule" />
                <data android:mimeType="application/x-veiltype-video-capsule" />
                <data android:mimeType="application/x-veiltype-photo-capsule" />
                <data android:mimeType="application/x-veiltype-capsule" />
                <data android:mimeType="application/x-enigma-audio-capsule" />
                <data android:mimeType="application/x-enigma-video-capsule" />
                <data android:mimeType="application/x-enigma-photo-capsule" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-veiltype-audio-capsule" />
                <data android:mimeType="application/x-veiltype-video-capsule" />
                <data android:mimeType="application/x-veiltype-photo-capsule" />
                <data android:mimeType="application/x-veiltype-capsule" />
                <data android:mimeType="application/x-enigma-audio-capsule" />
                <data android:mimeType="application/x-enigma-video-capsule" />
                <data android:mimeType="application/x-enigma-photo-capsule" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AudioCapsuleActivity"
            android:exported="false" />

        <activity
            android:name=".ui.VideoCapsuleActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="${applicationId}.capture"
            android:exported="false" />

        <activity
            android:name=".ui.PhotoCapsuleActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="${applicationId}.capture"
            android:exported="false" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <service
            android:name=".ime.EnigmaKeyboardService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/input_method" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
